@font-face {
  font-family: 'Roboto';
  font-path: '../fonts/roboto';
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

#retina img {
  max-width: 100%;
  height: auto;
  display: block;
}

#retina img {
  padding: 4px;
  border: solid 1px #bbb;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2); 
}

#retina a:before {
  position: absolute;
  content: ' ';
  top: 121px;
  left: 25px;
  width: 30px;
  height: 60px;
  background: url("../img/paper-clip.png") no-repeat;
}

