@import "variables.scss";
@import "mixins.scss";

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
}
 
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
     
img {
  width: auto;
  max-width: 100%;
  height: auto !important; 
}   
 
.wrapper {
  width: 100%;
  margin: 0 auto;
}
 
.wrapper, .row {
  @extend %clearfix;
}
      
[class*='col-'] {
  float: left;
  padding: 1rem;
  width: 100%;
  min-height: 0.0625rem; 
}   
 
@media #{$breakpoint-medium} {
  .wrapper {      
    width: 95%;
    max-width: $grid-max-width;     
  }
  @for $i from 1 through $grid-columns {      
    .col-#{$i} {         
      width: 100% / $grid-columns * $i;   
    }           
  }   
}

/* demo styling only */
* { color: #363742; }

span {
  display: block;
  background: #c2f0ff;
  padding: 2rem;
  text-align: center; 
}
