*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 60px 20px;
}

body {
  background: url(../img/leaves.jpg) no-repeat 50% 50% fixed;  
}

@media (min-width: 600px) {
  body { padding: 30px; }
}

input[type="range"] {
  width: 30rem;
  height: 2.5rem;
  align-self: center;
  border-right: solid 2.5em transparent;
  border-left: solid 2.5em transparent;
  padding: 0;
  border-radius: 0.25em;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

::range-thumb {
  width: 2.5em;
  height: 1.125em;
  border-radius: 0.25em;
  box-shadow: 0 1px .125em #000;
  background: linear-gradient(#494544 0.125em, #8d8988 0.125em, #a09c9b calc(100% - 0.125em), #f0efed calc(100% - 0.125em)) calc(50% - 0.25em) 56%, linear-gradient(#494544 0.125em, #8d8988 0.125em, #a09c9b calc(100% - 0.125em), #f0efed calc(100% - 0.125em)) 50% 56%, linear-gradient(#494544 0.125em, #8d8988 0.125em, #a09c9b calc(100% - 0.125em), #f0efed calc(100% - 0.125em)) calc(50% + 0.25em) 56%, linear-gradient(#ffffff, #c0c0c0);
  background-repeat: no-repeat;
  background-size: 0.125em 70%, 0.125em 70%, 0.125em 70%, 100% 100%;
  border: none;
  cursor: ew-resize;
  transition: background .15s ease-in-out;
}

::range-track {
  border: solid 1px #212224;
  height: 0.75rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 1px #4a494e, inset 0 0.125em 0.125em #242426;
  box-sizing: border-box;
  padding: 0.125rem;
  background: repeating-linear-gradient(135deg, #607d21, #607d21 0.25rem, #7ba12a 0.25rem, #7ba12a 0.5rem) no-repeat content-box, linear-gradient(#242225, #242225) padding-box, linear-gradient(#151517, #444446) border-box;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  outline: none;
  margin: 0;
}

.range-slider__value {
  display: inline-block;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #D39F32;
  padding: 5px 10px;
  float: right;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
  font-weight: bold;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #D39F32;
  border-bottom: 7px solid transparent;
  content: '';
}

