@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
}

.wrapper, .row {
  *zoom: 1; 
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table; 
}
  
.wrapper:after, .row:after {
  clear: both; 
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important; 
}

.wrapper {
  width: @neat-outer-container;
  margin: 0 auto; 
}

[class*='col-'] {
  float: left;
  padding: 0.5rem;
  width: 100%;
  min-height: 1px; 
}

.col-1 { display: block; float: left; margin-right: 2.35765160%; width: 6.17215270%; }

.col-1:last-child {
  margin-right: 0;
}
.col-2 { display: block; float: left; margin-right: 2.35765160%; width: 14.70195700%; }
.col-2:last-child {
  margin-right: 0;
}
.col-3 { display: block; float: left; margin-right: 2.35765160%; width: 23.23176130%; }
.col-3:last-child {
  margin-right: 0;
}
.col-4 { display: block; float: left; margin-right: 2.35765160%; width: 31.76156560%; }
.col-4:last-child {
  margin-right: 0;
}
.col-5 { display: block; float: left; margin-right: 2.35765160%; width: 40.29136990%; }
.col-5:last-child {
  margin-right: 0;
}
.col-6 { display: block; float: left; margin-right: 2.35765160%; width: 48.82117420%; }
.col-6:last-child {
  margin-right: 0;
}
.col-7 { display: block; float: left; margin-right: 2.35765160%; width: 57.35097850%; }
.col-7:last-child {
  margin-right: 0;
}
.col-8 { display: block; float: left; margin-right: 2.35765160%; width: 65.88078280%; }
.col-8:last-child {
  margin-right: 0;
}
.col-9 { display: block; float: left; margin-right: 2.35765160%; width: 74.41058710%; }
.col-9:last-child {
  margin-right: 0;
}
.col-10 { display: block; float: left; margin-right: 2.35765160%; width: 82.94039140%;}
.col-10:last-child {
  margin-right: 0;
}
.col-11 { display: block; float: left; margin-right: 2.35765160%; width: 91.47019570%; }
.col-11:last-child {
  margin-right: 0;
}
.col-12 { display: block; float: left; margin-right: 2.35765160%; width: 100.00000000%; }
.col-12:last-child {
  margin-right: 0;
}


/* demo styling only */
* { color: #363742; }

span {
  display: block;
  background: #c2f0ff;
  padding: 2rem;
  text-align: center; 
}
