@font-face {
  font-family: 'robotoregular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular-webfont.woff') format('woff'),
       url('Roboto-Regular-webfont.ttf') format('truetype'),
       url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
  font-size: responsive 12px 21px; 
  font-range: 420px 1280px; 
}