:root {
  --menuBackground: #3333;
}

@custom-selector :--enter :hover;
@custom-media --smallscreen only screen and (min-width >= 22.5rem) and (max-width <= 46rem) and (orientation: portrait);

@font-face  {
	font-family: 'fira_sansregular';
	src: url('../fonts/firasans-regular-webfont.eot');
	src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
	     url('../fonts/firasans-regular-webfont.woff') format('woff'),
	     url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
	     url('../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

div {
  font-family: fira_sansregular, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

#container {
  background-clip: padding-box;
  box-shadow: 3px 3px 5px 0px rgba(148,148,148,1);
  margin: 5% auto;
  width: 50rem;
}

#main {
  height: 80%;
  display: flex; 
  background-image: url('../img/background.png'); 
  padding: 1.5rem;
  margin: 0;
}

#title {
  color: #ffff;
  font-size: 2rem;
  padding-left: 6.25rem;
  padding-top: 1.875rem;
  position: absolute;
}

#header {
  background-image: url("../img/leaves.jpg");
  height: 9.375rem;
  margin: 0;
}

#leftmargin {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 32%;
  margin-right: 0.0625rem;
  align-items: stretch;
  background: var(--menuBackground);
 
  & li { 
    list-style: none;
  }
}

#leftmargin a {
  background: var(--menuBackground);
  border-bottom: 1px solid #393939;
  color: #cccc;
  display: block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-weight: normal;

  &:--enter { 
    text-decoration: none;
    background: #d0c0a9 url("../images/hover.gif") left center no-repeat;
    color: var(--menuBackground);
    padding-bottom: 0.5rem;
  }
}

#content {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 65%;
  padding: 0.625rem;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.3);
}

#social {
  float: right;
  margin-top: -0.6rem;
  width: auto;
  padding-right: 0.0625rem;
}

#footer {
  clear: both;
  font-size: 0.75rem;
  height: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 0.3125rem;

  & > p {
    padding-left: 2rem;
  }
}

@media (--smallscreen) {
  
  #container {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #leftmargin {
	  display: inline-block;
	  height: 17.5%;
	  width: 96.3%;
	  margin: 0;
	  z-index: 2;
	  float: left;
	  position: absolute;
  }

  #main {
    padding: 0;
    width: 100%;
  }

  #content {
	  width: unset;
	  float: left;
	  z-index: 1;
	  padding-top: 10rem;
  }
}
