@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
  margin: 0;
  padding: 0;
}

.shadeborder {
  width: 16rem;
  padding: 0.2rem;
  border: 0.0625rem solid #000000;
  margin-left: 3rem;
  float: left;
  margin-top: 1rem;
}

#box0, #box1, #box2, #box3 {
  height: 10rem;
  width: 16rem; 	
}

#box0 { 
  background-color: #ff0000;
}

#box1 { 
  background-color: color(red tint(60%));
}

#box2 { 
  background-color: color(red lightness(-20%));
}

/* Sepia equivalent for box3: rgb(208, 26, 20); */
#box3 {
  background-color: color(red red(-47) green(+20) blue(+26));
}


