.alert-box {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 38px;
  margin: 10px;
  width: 300px;
}

span {
  font-weight:bold;
  text-transform:uppercase;
}

.error {
  background:#ffecec url('../img/error.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}
.success {
  background:#e9ffd9 url('../img/success.png') no-repeat 10px 50%;
  border:1px solid #a6ca8a;
}
.warning {
  background:#fff8c4 url('../img/warning.png') no-repeat 10px 50%;
  border:1px solid #f2c779;
}
.notice {
  background:#e3f7fc url('../img/info.png') no-repeat 10px 50%;
  border:1px solid #8ed9f6;
}