body {
	background: #eee;
}

#gallery {
	width: 745px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#gallery img {
	border: 0.25rem solid #fff;
	margin: 20px;
	box-shadow: 0.25rem 0.25rem 0.3125rem #999;
	float: left;
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated:hover {
	animation-duration: 1s;
	animation-fill-mode: both;
}