.amex { background: #fff url(../img/amex.png) no-repeat 0 0; }
.cirrus { background: url(../img/cirrus.png) no-repeat 0 0; }

.delta { background: url(../img/delta.png) no-repeat 0 0; }
.solo { background: url(../img/solo.png) no-repeat 0 0; }