/**
 * 3.0 - Typography
 */

body, button, input, select, textarea {
	color: $almostblack;
	font-family: $Merriweather;
	font-size: 16px;
	line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border: 0 solid $almostblack;
	border-left-width: 4px;
	color: $verydarkgray;
	font-size: 19px;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

blockquote {
	quotes: none;
}

q {
	quotes: none;
}

q:before, q:after {
	content: "";
}

blockquote {
	&:before, &:after {
		content: "";
	}

	p {
		margin-bottom: 1.4736842105em;
	}

	cite, small {
		color: $almostblack;
		display: block;
		font-size: 16px;
		line-height: 1.75;
	}

	cite:before, small:before {
		content: "\2014\00a0";
	}

	em, i, cite {
		font-style: normal;
	}

	strong, b {
		font-weight: 400;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code, kbd, tt, var, samp, pre {
	font-family: $Inconsolata;
}

pre {
	border: 1px solid $lightgray;
	font-size: 16px;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: $lightgray;
	padding: 0.125em 0.25em;
}

abbr, acronym {
	border-bottom: 1px dotted $lightgray;
	cursor: help;
}

mark, ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}