*, *::after, *::before {
  box-sizing: border-box;
}

.a {
  font-size: 2rem;
  width: calc(2em * 2);
}

@media (min-width: 38rem) {
  .a {
    color: red;
  }
}

@media (min-width: 38rem) {
  .b {
    color: blue;
  }
}

