@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/sourcesanspro-regular-webfont.woff2') format("woff2"), url('../fonts/sourcesanspro-regular-webfont.woff') format("woff"), url('../fonts/sourcesanspro-regular-webfont.ttf') format("truetype"), url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format("svg");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'source_sans_proregular', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 60rem;
  height: 20rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1.5s;
  perspective: 3000px;
  transform-style: preserve-3d;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg) scale(0.3);
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
  will-change: transform;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  h2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
  }
  &.page1 {
    background-color: #66a6b8;
    background-image: linear-gradient(10deg, #66a6b8 20%, #5471B9 80%);
  }
  &.page2 {
    background-color: #f29c54;
    background-image: linear-gradient(45deg, #f29c54 0%, #DB4367 100%);
  }
  &.page3 {
    background-color: #23af56;
    background-image: linear-gradient(135deg, #23af56 0%, #67A79A 100%);
  }
  &.page4 {
    background-color: #412F2F;
    background-image: linear-gradient(160deg, #412F2F 15%, #6B2686 85%);
  }
}

.wrapper.active-page1 {
  transform: translateY(0%);
}

.active-page1 .page1 {
  transform: scale(1);
}

.wrapper.active-page2 {
  transform: translateY(-100%);
}

.active-page2 .page2 {
  transform: scale(1);
}

.wrapper.active-page3 {
  transform: translateY(-200%);
}

.active-page3 .page3 {
  transform: scale(1);
}

.wrapper.active-page4 {
  transform: translateY(-300%);
}

.active-page4 .page4 {
  transform: scale(1);
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
  &.invisible {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
  ul {
    list-style-type: none;
    li {
      position: relative;
      overflow: hidden;
      width: 1em;
      height: 1em;
      margin-bottom: 0.5em;
      border: 0.12em solid #000;
      border-radius: 50%;
      cursor: pointer;
      transition: border-color, transform 0.3s;
      will-change: border-color, transform;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.3);
        background-color: #000;
        opacity: 0;
        transition: transform, opacity 0.3s;
        will-change: transform, opacity;
      }
      &.active:after {
        transform: translateX(-50%) translateY(-50%) scale(0.7);
        opacity: 1;
        background-color: #000;
      }
      &:hover {
        &:after {
          transform: translateX(-50%) translateY(-50%) scale(0.7);
          opacity: 1;
          background-color: #000;
          background-color: #000;
        }
        border-color: #000;
        transform: scale(1.2);
        background-color: #000;
      }
    }
  }
  .scroll-btn {
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border: 0.2em solid #000;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: border-color 0.3s;
    &.up {
      top: -1.6em;
      transform: rotate(-45deg);
    }
    &.down {
      bottom: -1.2em;
      transform: rotate(135deg);
    }
    &:hover {
      border-color: #000;
    }
  }
}

/* NAV BUTTONS */

.page1 {
  padding: 1.6rem;
}

.sidebar, .maincontent {
  background-color: #fff;
  opacity: 0.5;
}

.sidebar, .maincontent {
  float: left;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  height: 83%;
}

.sidebar {
  width: 20rem;
  margin-right: 0.80rem;
}

.maincontent {
  width: 36rem;
}

footer {
  padding: 0.5rem;
  width: 56.8rem;
  clear: both;
}