@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
}

img {
  height: auto;
  display: block;
  height: 100%;
  width: 100%;
}

#retina {
  padding: 4px;
  border: solid 1px #bbb;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2); 	
  height: 495px;
  width: 400px;
}

#retina a:before {
  position: absolute;
  content: ' ';
  top: 112px;
  left: 25px;
  width: 30px;
  height: 60px;
  background: url('../img/paper-clip.png') no-repeat;
}

.js.webp #retina a:before {
  top: 109px;
}

.landscape {
  background-image: url('../img/landscape.jpg');
}


