@font-face {
  font-family: 'robotoregular';
  src: resolve('Roboto-Regular-webfont.eot');
  src: resolve('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       resolve('Roboto-Regular-webfont.woff') format('woff'),
       resolve('Roboto-Regular-webfont.ttf') format('truetype'),
       resolve('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular", sans-serif;
}

#retina img {
  max-width: 100%;
  height: auto;
  display: block;
}

#retina img {
  padding: 4px;
  border: solid 1px #bbb;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2); 
}

#retina a:before {
  position: absolute;
  content: ' ';
  top: 121px;
  left: 25px;
  width: 30px;
  height: 60px;
  background: resolve("paper-clip.png") no-repeat;
}

