/* media query for hi-resolution image support */
@custom-media --hi-resolution screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

@font-face {
  font-family: 'robotoregular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular-webfont.woff') format('woff'),
       url('Roboto-Regular-webfont.ttf') format('truetype'),
       url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "robotoregular", sans-serif;
}

img {
  width: 584px;
  height: 389px;	
}

#retina img {
  padding: 4px;
  border: solid 1px #bbb;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  content: url("../img/mothorchid.png"); 
}

#retina a:before {
  position: absolute;
  content: ' ';
  top: 109px;
  left: 25px;
  width: 30px;
  height: 60px;
  background: url("../img/paper-clip.png") no-repeat;
}

@media (--hi-resolution) { 
  #retina img {
  	content: url("../img/mothorchid@2x.png");
  } 
}