@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.woff") format('woff'),
       url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'),
       url("../fonts/OpenSans-Regular-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

nav a {
  text-decoration: none;
  color: #c1add8;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
  margin: 0 20px;
  font-weight: 400;
}

section{
  margin: 0 auto;
  padding: 20px 40px 30px;
  text-align: center;
}

.menu{
  background: #e2d9eb;
}

.underline a {
  color: #662d91;
  padding: 10px 0;
}

.underline a::after-c {
  background: #662d91;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

.underline a:hover::after-c, .underline a:focus::after-c {
  opacity: 1;
  transform: translateY(0px);
}