$dark-grayish-green: #868a7b;
$very-dark-gray: #333333;
$white: #fff;

$demo-background: $dark-grayish-green;
$infobox-background: $very-dark-gray; 

$fullsize: 100%;

@mixin font-size($size, $base: 16) {
  font-size: $size * 1px; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-transform: translate3d(0,0,0);
}

body {
  font-family: 'source_sans_proregular', sans-serif;
	font-weight: 300;
}

html, body {
	width: $fullsize;
	padding: 0;
	margin: 0;
	height: $fullsize;
	min-width: $fullsize;
	max-width: $fullsize;
	overflow: hidden;
  background: $dark-grayish-green;
}

#wrapper {
	width: 300px;
  margin: 0 auto;
}

.block {
  width: 500px;
  margin: 0 auto;
}

h3 {
  @include font-size(32);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 232px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

* {
  box-sizing: border-box;
}

 a:hover {
  text-decoration: none;
}

 img {
  width: $fullsize;
  height: $fullsize;
}

.tile {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px 0;
}

.tile .img {
  position: relative;
  width: 300px;
  height: 300px;
}

.tile .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.tile .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: center;
  backface-visibility: hidden;
}

.tile.ltr .img {
  margin-left: 30px;
}

.tile.rtl .img {
  margin-left: -30px;
}

.tile.ltr {
  margin-left: -30px;
}

.tile.rtl {
  margin-left: 30px;
}

/* ------ Hover Effect Styles ------ */
.info {
  background: $infobox-background;
  pointer-events: none;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

.info h3 {
  @include font-size(20);
  position: relative;
  text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: -15px;
  border-bottom: 1px solid #FFF;
  width: 270px;
  margin-left: -15px;
}

.info p {
  @include font-size(12);
  color: #BBB;
  padding: 50px 5px;
  font-style: italic;
  margin: 0px 25px;
}

.img {
  z-index: 10;
  transition: all 0.35s ease-in-out;
}

/* ------ Effects ----- */
/* Left to right effect */
.tile.ltr .img {
  transform: scale(1) translateX(0);
}

.tile.ltr .info {
  transform: translateX(-100%);
}

.tile.ltr a:hover .img {
  transform: scale(0.5) translateX(100%);
}

.tile.ltr a:hover .info {
  opacity: 1;
  transform: translateX(0);
}

/* Right to Left Effect */
.tile.rtl .img {
  transform: scale(1) translateX(0);
}

.tile.rtl .info {
  transform: translateX(100%);
}

.tile.rtl a:hover .img {
  transform: scale(0.5) translateX(-100%);
}

.tile.rtl a:hover .info {
  opacity: 1;
  transform: translateX(0);
}
/* ------ End Effect ------ */