.social-icon {
  background: 50% no-repeat;
  background-size: 100%;
  float: left;
  height: 50px;
  width: 50px;
}

.twitter {
  background: url('../img/twitter.png');
}

.linkedin {
  background: url('../img/linkedin.png');
}

.youtube {
  background: url('../img/youtube.png');
}