@font-face  {
  font-family: 'fira_sansregular';
  src: url('../fonts/firasans-regular-webfont.eot');
  src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
     url('../fonts/firasans-regular-webfont.woff') format('woff'),
     url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
     url('../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

div {
  font-family: fira_sansregular, sans-serif;
}

header {
  background-image: url("../img/leaves.jpg");
  font-size: 18px;
  height: 150px;
  margin: 0;
}

nav {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 32%;
  padding: 10px;
  margin-right: 1rem;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.3);
}

nav li { list-style: none outside none }
nav a { text-decoration: none }
nav a: hover { text-decoration: underline }

section {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 65%;
  padding: 10px;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  clear: both;
  font-size: 12px;
  height: 3rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

footer > p {
  padding-left: 2rem;
}

#container {
  background-clip: padding-box;
  box-shadow: 3px 3px 5px 0px rgba(148,148,148,1);
  margin: 5% auto;
  width: 800px;
}

#title {
  color: #fff;
  font-size: 32px;
  padding-left: 100px;
  padding-top: 30px;
  position: absolute;
}

#social {
  float: right;
  margin-top: -0.6rem;
  height: 100%;
  width: auto;
  padding-right: 1rem;
}

main {
  height: 80%;
  display: flex; 
  background-image: url('../img/background.png'); 
  padding: 1.5rem;
  margin: 0;
}